.bgGlass {
    background-color: rgba(190, 190, 190, 0.5);
    border-radius: 5px;
}

.glass {
    background-color: transparent;
    border-radius: 5px;
}

.colWhote {
    color: #ffffff;
}

.colWhote:hover {
    color: #ffffff;
}
.colRed {
    color: #f80000;
}

.colRed:hover {
    color: #ff0000;
}